
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  position: relative;
  min-height: 100vh;
  background-image: url('../background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  flex: 1;
}

header {
  background-color: rgba(114, 176, 29, 0.8);
  color: #fff;
  padding: 15px 20px;
  text-align: center;
}

main {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(114, 176, 29, 0.8);
  color: #fff;
  margin-top: auto;
}


@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

h2 {
  color: #fff;
  text-align: center;
}
